@import './variable.scss';

.app {
  &__margin {
    margin: 1em auto;
  }
  &__header {
    @include margin;
    font-size: 1.6em;
  }
  &__paragraph {
    @include margin;
    font-size: 1em;
    text-align: left;
  }
}

.section {
  width: 80%;
  text-align: center;
  margin: 2% auto;
  padding: 1%;
  min-height: 80vh;
  border: 6px solid $main-color;
  box-shadow: 10px 10px 20px $main-color;
  border-radius: 30px;
  background: $secondary-color;
}
