@import './variable.scss';

.app {
  max-width: 1400px;
  &__margin {
    margin: 1em auto;
  }
  &__text--left {
    text-align: left;
  }
  &__header {
    @include margin;
    font-size: 1.6em;
  }
  &__paragraph {
    @include margin;
    font-size: 1em;
  }
  &__input {
    border: none;
    border-bottom: 2px solid $details;
    outline: transparent;
    font-size: 1em;
    padding: 0.25em;
    margin: 0.5em 1em;
    background: inherit;
  }
  &__btn {
    font-size: 1em;
    padding: 0.5em;
    margin: 0.5em;
    background: $details;
    border: none;
    color: $main-color;
    border-radius: 5px;
    text-transform: uppercase;
    transition: .3s ease-in-out;
    opacity: 0.8;
    font-family: $main-font;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
    &--disabled {
      opacity: 0.6;
      &:hover {
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  }
  &__error {
    color: $error;
    font-size: 0.8em;
  }
}

.section {
  text-align: center;
  margin: 4%;
  min-height: 80vh;
  background: $secondary-color;
  padding: 1em 1em 2em;
  @media screen and (min-width: 600px) {
    border: 6px solid $main-color;
    box-shadow: 10px 10px 20px $main-color;
    border-radius: 30px;
    width: 80%;
    margin: 2% auto;
  }
}
