@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;800&display=swap');
@import './variable.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

body {
  line-height: 1.2;
  font-family: $main-font;
  color: $main-color;
  background: $body-color;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: $main-color;
  font-weight: 800;
  transition: .3s ease-in-out;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
