@import './variable.scss';

.navigation {
  display: flex;
  justify-content: center;
  margin: 1% auto;
  &__link{
    padding: 0.5em 1em;
    font-size: 1.2em;
    font-weight: 800;
    border-bottom: 2px solid transparent;
    transition: .3s ease-in-out;
    &--active {
      border-bottom: 2px solid $details;
    }
  }
}
