@import './variable.scss';

.projects {
  width: 80%;
  margin: 2em auto 4em;
  text-align: left;
  &__card {
    padding: 0 1em 0.5em;
    &:nth-child(even) {
      background-color: $details-2;
    }
  }
  &__title {
    font-size: 1.3em;
    margin-bottom: 1em;
    border-bottom: 2px solid $details;
  }
  &__grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0;
  }
}
