$main-font: 'Ruda', Arial, sans-serif;
$main-color: #000;
$body-color: #363636;
$secondary-color: #f3f3f3;
$details: #f5b042;
$highlighted: #62018f;
$error: #e00d02;

@mixin margin {
  margin: 1em auto;
}
